**/__pycache__
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/docker-compose*
**/Dockerfile*
.gitmodules
.gitignore
.env
.env.template
TODO
VERSION
README.md
token.pickle
credentials.json
docker*
skaffold.yaml
